{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola, Doctor</h1>
  <p class="lead">Bienvenido al Sistema de Gestión Hospitalaria.</p>
  <hr class="my-4">
  <p>Puedes acceder a varias funciones después de Registrarte/Iniciar sesión.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Registrar</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Iniciar sesion</a>
  </p>
</div>

{% endblock content %}
